*{
    margin: 0;
    padding: 0;
}
body{
    background-color: silver;
}

h2{
    padding-bottom:5px;
    padding-top: 15px;
}

nav > ul {
    background-color: #333;
    padding:15px 20px;
    text-align: right;
}

nav > ul > li{
    list-style: none;
    display: inline;
    
}

li a{
    color: white;
    text-decoration: none;
    padding:20px;
}
form{
    margin: 10px 20px 20px 20px;
    padding: 16px;
    background-color: rgb(96, 100, 103);
}

form> input, label {
    display: inline;
}

input{
    width: 99%;
    padding:6px;
    margin:5px 0px 0px 0px; 
    height: 30px;
}

.btn{
    width:70%;
    background-color: rgb(114, 114, 193);
    padding:20px 20px;
    cursor: pointer;
    margin:10px 10px 10px 200px;
    border:none;
}